[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BcDiag"]
	path = BcDiag
	url = https://github.com/cran/BcDiag
[submodule "BiBitR"]
	path = BiBitR
	url = https://github.com/ewouddt/bibitr
[submodule "RcmdrPlugin.BiclustGUI"]
	path = RcmdrPlugin.BiclustGUI
	url = https://github.com/cran/RcmdrPlugin.BiclustGUI
